@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Add additional global styles if needed */


@layer components {
  .wrapper {
    @apply max-w-6xl mx-auto container;
  }
}

/* container  sm:px-8 md:px-6 xl:px-0  */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* JSON Editor Styles */
.editor-container {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Fira Code', 'Fira Mono', monospace;
  font-size: 15px;
}

.line-numbers {
  padding: 10px;
  background: #f5f5f5;
  border-right: 1px solid #ddd;
  text-align: right;
  user-select: none;
  color: #888;
}

.code-editor {
  width: 100%;
  padding: 10px;
}

/* NEW CODE NUMBERS RELATED CODE */
.editor {
  counter-reset: line;
  border: 1px solid #ced4da;
}

.editor #codeArea {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #cccccc;
  text-align: right;
  width: 40px;
  font-weight: 100;
}


/* Product Management Checkboxes */
.custom-checkbox {
        width: 20px; /* Adjust size as needed */
        height: 20px; /* Adjust size as needed */
        background-color: #fff;
        border: 2px solid #ccc;
        border-radius: 3px;
        display: inline-block;
        position: relative;
    }

    .custom-checkbox::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px; /* Adjust size as needed */
        height: 10px; /* Adjust size as needed */
        background-color: #007bff; /* Color when checked */
        display: none;
    }

    input[type="checkbox"]:checked + .custom-checkbox::before {
        display: block;
    }