@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wrapper {
    @apply max-w-6xl mx-auto container;
  }
}

/* container  sm:px-8 md:px-6 xl:px-0  */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* JSON Editor Styles */
.editor-container {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Fira Code', 'Fira Mono', monospace;
  font-size: 15px;
}

.line-numbers {
  padding: 10px;
  background: #f5f5f5;
  border-right: 1px solid #ddd;
  text-align: right;
  user-select: none;
  color: #888;
}

.code-editor {
  width: 100%;
  padding: 10px;
}


/* .ps-submenu-content .ps-menuitem-root {
  background-color: rgb(195, 43, 226);
} 

.ps-submenu-content .ps-menuitem-root:hover {
  background-color: red;
}  */





/* .ps-submenu-content {
color: #fff !important;
background-color: red  !important;
}

.ps-submenu-content:hover {
  color: #fff !important;
  background-color: gold  !important;
  } */